<div class="video-container">
  <div class="video">
    <iframe width="560" height="315" src="//www.youtube.com/embed/NQVb58Om1Lg" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class="video-content">
<!--
    <h1>H1 tag</h1>
    <h2>H2 tag</h2>
    <ul>
      <li>list 1</li>
      <li>list 2</li>
      <li>list 3</li>
    </ul>
    <ol>
      <li>list 1</li>
      <li>list 2</li>
      <li>list 3</li>
    </ol>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi numquam ex, amet, quaerat ipsum eos laborum tempora mollitia modi facilis eligendi sunt possimus expedita omnis quidem libero, odit voluptatum reiciendis.
    </p>
 -->
  </div>
</div>
