@import 'compass';
@import 'compass/reset';

$background-colour: #f2f3f5;
$banner-colour: #53585f;

body {
  font-family: 'Helvetica Neue';
  background-color: $background-colour;
}

.banner {
  background-color: $banner-colour;

  h1 {
    color: white;
    text-align: center;
    font-weight: 200;
    font-size: 28px;
    padding: 8px;
  }
}
