@import 'compass';
@import 'compass/reset';

// TYPOGRAPHY

@font-face {
  font-family: "FF DIN Round";
  font-weight: 200;
  src: url("../fonts/ff-din-round/ff-din-round-light.otf");
}
@font-face {
  font-family: "FF DIN Round";
  font-weight: 400;
  src: url("../fonts/ff-din-round/ff-din-round-regular.otf");
}
@font-face {
  font-family: "FF DIN Round";
  font-weight: 600;
  src: url("../fonts/ff-din-round/ff-din-round-medium.otf");
}
@font-face {
  font-family: "FF DIN Round";
  font-weight: 800;
  src: url("../fonts/ff-din-round/ff-din-round-bold.otf");
}

// VARIABLES
$light-gray: #adafb1;
$gray: #96989b;
$blue: #17bef1;

// MAIN

body {
  font-family: 'FF Din Round', serif;
}

.main-container {
  max-width: 320px;
  margin: 0 auto;
}

.main-video-container {
  max-width: 560px;
  margin: 0 auto;
}


.banner {
  margin-bottom: 8px;
  margin-top: 12px;
  text-align: center;
  position: relative;

  .logo {
    width: 68px;
  }

  .navigation {
    position: absolute;
    right: 20px;
    top: 10px;
  }
}

.instruction-list {
  a {
    text-decoration: none;
    color: $gray;

    &:hover {
      color: $blue;
    }
  }

  li {
    margin-bottom: 10px;
    padding: 12px;
    border: 1px solid $blue;

    &.last-child {
      margin-bottom: 0;
    }
  }
}

.slideshow {
  padding-top: 42px;
  margin-top: 4px;
  position: relative;

  .slides-prev,
  .slides-next {
    background-color: white;
    text-decoration: none;
    text-align: center;
    position: absolute;
    padding: 12px 0;
    border: 1px solid $blue;
    width: 50%;
    color: $blue;
    top: 0;
  }

  .slides-next {
    background-color: $blue;
    color: white;
    right: 0;
  }

  .slides-prev {
    left: 0;
  }
}

.slide {
  img {
    // width: 100%;
  }

  .slide-content {
    width: 292px;
    padding: 0 14px;
  }
}

.video-container {
  .video-content {
    width: 492px;
    padding: 0 14px;
  }
}

.slide-content,
.video-content {
    margin-bottom: 40px;
    margin-top: 22px;
    color: $gray;

    h1 {
      margin-bottom: 22px;
      text-align: center;
      line-height: 24px;
      font-size: 22px;
    }

    h2 {
      margin-bottom: 18px;
      line-height: 20px;
      font-size: 18px;
    }

    p {
      margin-bottom: 16px;
      line-height: 20px;
      font-size: 16px;
    }

    strong {
      font-weight: 800;
    }

    .underline {
      text-decoration: underline;
    }

    ul, ol { padding-left: 30px }
    ul { list-style: disc }
    ol { list-style: decimal }
    li { margin-bottom: 20px }
}
