@import 'compass';
@import 'compass/reset';

$background-colour: #f2f3f5;
$banner-colour: #53585f;
$panel-colour: #60efa8;
$panel-colour-bottom: #4ecb8e;
$hover-colour: #e8e8e8;
$instruction-list-font-colour: #000;
$button-colour-gray: #838a95;

body {
  font-family: 'Helvetica Neue';
  background-color: $background-colour;
}

a, a:visited {
  text-decoration: none;
}

.banner {
  background-color: $banner-colour;

  h1 {
    color: white;
    text-align: center;
    font-weight: 200;
    font-size: 28px;
    padding: 8px;
  }
}

.outer-page {
  max-width: 420px;
  margin: 0 auto;
}

.inner-page {
  padding: 10px;
}

.instruction-list {
  margin-top: 20px;
  padding: 10px 0;
  background-color: $panel-colour;
  border-bottom: 10px solid $panel-colour-bottom;

  li {
    margin: 10px;
    background-color: white;
    padding: 20px 10px;
  }

  a {
    color: $instruction-list-font-colour;

    &:hover li {
      background-color: $hover-colour;
    }
  }
}

#slides {
  display: none;
  width: 100%;
}

.slidesjs-next,
.slidesjs-previous {
  background-color: $button-colour-gray;
  margin-top: 10px;
  display: block;
  float: left;
  width: 50%;
  overflow: auto;

  color: white;
  text-align: center;
  text-decoration: none;

  span {
    display: block;
    padding: 20px;
  }
}

