/* line 17, ../../../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "FF DIN Round";
  font-weight: 200;
  src: url("../fonts/ff-din-round/ff-din-round-light.otf");
}

@font-face {
  font-family: "FF DIN Round";
  font-weight: 400;
  src: url("../fonts/ff-din-round/ff-din-round-regular.otf");
}

@font-face {
  font-family: "FF DIN Round";
  font-weight: 600;
  src: url("../fonts/ff-din-round/ff-din-round-medium.otf");
}

@font-face {
  font-family: "FF DIN Round";
  font-weight: 800;
  src: url("../fonts/ff-din-round/ff-din-round-bold.otf");
}

/* line 34, ../../_sass/main.scss */
body {
  font-family: 'FF Din Round', serif;
}

/* line 38, ../../_sass/main.scss */
.main-container {
  max-width: 320px;
  margin: 0 auto;
}

/* line 43, ../../_sass/main.scss */
.main-video-container {
  max-width: 560px;
  margin: 0 auto;
}

/* line 49, ../../_sass/main.scss */
.banner {
  margin-bottom: 8px;
  margin-top: 12px;
  text-align: center;
  position: relative;
}
/* line 55, ../../_sass/main.scss */
.banner .logo {
  width: 68px;
}
/* line 59, ../../_sass/main.scss */
.banner .navigation {
  position: absolute;
  right: 20px;
  top: 10px;
}

/* line 67, ../../_sass/main.scss */
.instruction-list a {
  text-decoration: none;
  color: #96989b;
}
/* line 71, ../../_sass/main.scss */
.instruction-list a:hover {
  color: #17bef1;
}
/* line 76, ../../_sass/main.scss */
.instruction-list li {
  margin-bottom: 10px;
  padding: 12px;
  border: 1px solid #17bef1;
}
/* line 81, ../../_sass/main.scss */
.instruction-list li.last-child {
  margin-bottom: 0;
}

/* line 87, ../../_sass/main.scss */
.slideshow {
  padding-top: 42px;
  margin-top: 4px;
  position: relative;
}
/* line 93, ../../_sass/main.scss */
.slideshow .slides-prev,
.slideshow .slides-next {
  background-color: white;
  text-decoration: none;
  text-align: center;
  position: absolute;
  padding: 12px 0;
  border: 1px solid #17bef1;
  width: 50%;
  color: #17bef1;
  top: 0;
}
/* line 105, ../../_sass/main.scss */
.slideshow .slides-next {
  background-color: #17bef1;
  color: white;
  right: 0;
}
/* line 111, ../../_sass/main.scss */
.slideshow .slides-prev {
  left: 0;
}

/* line 121, ../../_sass/main.scss */
.slide .slide-content {
  width: 292px;
  padding: 0 14px;
}

/* line 128, ../../_sass/main.scss */
.video-container .video-content {
  width: 492px;
  padding: 0 14px;
}

/* line 135, ../../_sass/main.scss */
.slide-content,
.video-content {
  margin-bottom: 40px;
  margin-top: 22px;
  color: #96989b;
}
/* line 140, ../../_sass/main.scss */
.slide-content h1,
.video-content h1 {
  margin-bottom: 22px;
  text-align: center;
  line-height: 24px;
  font-size: 22px;
}
/* line 147, ../../_sass/main.scss */
.slide-content h2,
.video-content h2 {
  margin-bottom: 18px;
  line-height: 20px;
  font-size: 18px;
}
/* line 153, ../../_sass/main.scss */
.slide-content p,
.video-content p {
  margin-bottom: 16px;
  line-height: 20px;
  font-size: 16px;
}
/* line 159, ../../_sass/main.scss */
.slide-content strong,
.video-content strong {
  font-weight: 800;
}
/* line 163, ../../_sass/main.scss */
.slide-content .underline,
.video-content .underline {
  text-decoration: underline;
}
/* line 167, ../../_sass/main.scss */
.slide-content ul, .slide-content ol,
.video-content ul,
.video-content ol {
  padding-left: 30px;
}
/* line 168, ../../_sass/main.scss */
.slide-content ul,
.video-content ul {
  list-style: disc;
}
/* line 169, ../../_sass/main.scss */
.slide-content ol,
.video-content ol {
  list-style: decimal;
}
/* line 170, ../../_sass/main.scss */
.slide-content li,
.video-content li {
  margin-bottom: 20px;
}
